<div class="character-selection">
  <h3>Select Your Character</h3>
  <form id="character-form">
    <label for="character-name">Name:</label>
    <input type="text" id="character-name" name="character-name" required />

    <label for="character-type">Type:</label>
    <select id="character-type" name="character-type" required>
      <option value="warrior">Warrior</option>
      <option value="wizard">Wizard</option>
      <option value="archer">Archer</option>
    </select>

    <button type="submit">Create Character</button>
  </form>
  <button id="logout">Log out</button>

  <!-- Existing Characters Section -->
  <div id="existing-characters">
    {{#each characters}}
      <div class="character-card" id="character-{{this.id}}">
        <img src="./images/Hobbit.jpg" alt="Hobbit" width="100" height="100" />
        <p>Name: {{this.name}}</p>
        <p>Type: {{this.type}}</p>
        
        <button class="place-character" data-id="{{this.id}}">Place on Map</button>
        <button class="delete-character" data-id="{{this.id}}">Delete</button>
        <button class="encounter" id = "encounter">Encounter</button> 
      </div>
    {{/each}}
  </div>
</div>

<div id="character-details" style="display: none;">
  <p>Name: <span id="display-name"></span></p>
  <p>Type: <span id="display-type"></span></p>
  <button id="generate-token">Place Character on Map</button>
</div>

<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/encounter.js"></script>  
<script src="/js/characterForm.js"></script>
<script src="/js/logout.js"></script>
